<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Generator - View Passwords</title>

        <meta charset="UTF-8"/>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"/>
        
        <style>
            .password {
                text-align: left;
                background-color: rgba(255, 255, 255, 0.5);
                border-style: solid;
                border-width: 3px;
                width: 300px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 3px;
            }
            
            #content {
                text-align: left;
            }
        
        </style>
    
    </head>
    
    <body>
        <div id="content">
            <h1>
                Welcome, {{ username }}
            </h1>
            
            <h2>
                Your Saved Passwords
            </h2>

            {% for pass in pass_list %}
            <div class="password">
                <h3>{{ pass["sitename"] }}</h3>

                <p>{{ pass["password"] }}</p>

                <input type="button" value="Copy to Clipboard"/>

                <input type="button" onclick='window.location.assign("{{ url_for('delete_page') }}")' value="Delete Password"/>

            </div>
            {% endfor %}
            
            <input type="button" onclick='window.location.assign("{{ url_for('create_page') }}")' value="Create New Password"/><br/>
            
            <input type="button" onclick='window.location.assign("{{ url_for('index_page') }}")' value="Logout"/>
            
        </div>
    
    </body>
    
</html>