<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Generator - Deletion Complete</title>

        <meta charset="UTF-8">
        
        <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    
    </head>
    
    <body>
        <div id="content">
            <h1>
                The password [password] from sitename.com has been deleted
            </h1>
            
            <input type="button" onclick='window.location.assign("display.html")' value="Go Back"/>
                
        </div>
    
    </body>
    
</html>